.link-to-home {
  text-decoration: none;
  font-size: 20px;
  border: 2px solid #564949;
  background-color: #564949;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  width: 200px;
  margin: 15px auto 20px auto;
}
